@use "../abstracts" as *;

:root {
  --spacing-1: #{rem(4px)};
  --spacing-2: #{rem(8px)};
  --spacing-3: #{rem(12px)};
  --spacing-4: #{rem(16px)};
  --spacing-5: #{rem(20px)};
  --spacing-6: #{rem(24px)};
  --spacing-8: #{rem(32px)};
  --spacing-10: #{rem(40px)};
  --spacing-12: #{rem(48px)};
}
