@use "../abstracts" as *;

:root {
  --font-family-base:
    "Roboto", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;

  --font-size-sm: #{rem(14px)};
  --font-size-md: #{rem(16px)};
  --font-size-lg: #{rem(20px)};
  --font-size-xl: #{rem(24px)};
  --font-size-2xl: #{rem(32px)};

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}
