.ui-button {
  padding: var(--component-button-padding-y) var(--component-button-padding-x);

  border: 0;
  border-radius: var(--component-button-radius);

  background: var(--color-action-primary);
  color: var(--color-surface-primary);

  font-family: var(--font-family-base);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);

  cursor: pointer;
}

.ui-button:hover {
  background: var(--color-action-primary-hover);
}
