@use "tokens";
@use "theme";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-base);
  color: var(--color-text);
  background: var(--color-surface-primary);
  transition:
    background-color 300ms ease,
    color 300ms ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
