@forward "./light";
@forward "./dark";

:root {
  color-scheme: light;
}

[data-theme="dark"] {
  color-scheme: dark;
}

:root {
  color-scheme: light;
}

[data-theme="dark"] {
  color-scheme: dark;
}
