@use "../../abstracts/" as *;

.badge {
  position: relative;
  display: inline-flex;
  &__content {
    position: absolute;
    top: #{rem(-8px)};
    right: #{rem(-8px)};
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: #{rem(18px)};
    height: #{rem(18px)};
    padding: #{rem(0px)} #{rem(5px)};
    border-radius: #{rem(9999px)};
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: #{rem(11px)};
    font-weight: 600;
    line-height: 1;
    cursor: pointer;
  }
}
