.separator {
  border: none;
  background-color: var(--color-border-primary);
  flex-shrink: 0;
  &[data-orientation="horizontal"] {
    height: 1px;
    width: 100%;
  }
  &[data-orientation="vertical"] {
    width: 1px;
    height: 100%;
  }
}
